# Ignore all .env files
**/.env*
# Allow .env.example
!**/.env*example*

# Ignore default logs dir
logs

gateway-http/node_modules
gateway-http/coverage
gateway-http/doc/openapi/bundled.yaml

gateway-ws/node_modules
gateway-ws/coverage
gateway-ws/doc/asyncapi/generated
gateway-ws/tests/integration/schemas

shared/node/node_modules
shared/node/coverage