NODE_ENV=test
PORT=5050

# Logging
LOG_DIR=../logs/gateway-node
LOG_LEVEL=error

DB_HOST=localhost
DB_PORT=3306
DB_APP_USER=meshplay_test
DB_APP_PASSWORD=yourpassword
DB_NAME=MeshPlay-LabDB_Test
DB_TIMEZONE=Europe/Rome

JWT_SECRET=test-secret
JWT_EXPIRATION='1h'