NODE_ENV='development'
PORT=5051

# Logging
LOG_DIR=/path/to/MeshPlay-Lab/logs/dev/gateway-ws        # Relative or absolute path to desired log directory
LOG_LEVEL=trace

# Database
DB_HOST=127.0.0.1
DB_PORT=3308
DB_APP_USER=meshplay_dev
DB_APP_PASSWORD=devPass
DB_NAME=MeshPlay-LabDB_Dev
DB_TIMEZONE=Europe/Rome

# WebSocket Ping-Pong timer
PING_INTERVAL=30000

# JWT
JWT_SECRET=jwtSecret
JWT_EXPIRATION='1h'

# Redis
REDIS_URL='redis://127.0.0.1:6381'
ENV_PREFIX='dev'