NODE_ENV='production'
PORT=5000

# Logging
LOG_DIR=/path/to/MeshPlay-Lab/logs/prod/gateway-http     # Relative or absolute path to desired log directory
LOG_LEVEL=trace

DB_HOST=127.0.0.1
DB_PORT=3306
DB_APP_USER=meshplay_prod
DB_APP_PASSWORD=prodPass
DB_NAME=MeshPlay-LabDB
DB_TIMEZONE=Europe/Rome

JWT_SECRET=jwtSecret
JWT_EXPIRATION='1h'