NODE_ENV=test
PORT=5050

# Logging
LOG_DIR=../logs/gateway-node/test
LOG_LEVEL=error

# Database
DB_HOST=localhost
DB_PORT=3306
DB_APP_USER=meshplay_test
DB_APP_PASSWORD=yourpassword
DB_NAME=MeshPlay-LabDB_Test
DB_TIMEZONE=Europe/Rome

# WebSocket Ping-Pong timer
PING_INTERVAL=30000

# JWT
JWT_SECRET=test-secret
JWT_EXPIRATION='1h'

TEST_FIELD='Loaded .env.test from gateway-ws'

# Redis
REDIS_URL='redis://localhost:6379'
ENV_PREFIX='test'

# ASYNCAPI To JSON Schema
DOCS_PATH='./doc/asyncapi/components/channels/'
OUTPUT_DOCS_PATH='./tests/integration/schemas/'